#slideshow {
    position: relative;
}

.arrow {
    color: black;
    text-decoration: none;
    size: 2em;
    position: absolute;
    top: 50%;
    background: lightgray;
    border-radius: 3px;
    padding: 5px;
}

#right-arrow {
    right: 5%;
}

#left-arrow {
    left: 5%;
}

#slideshow img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}